<a href="https://colab.research.google.com/github/mgm1317/mayaramoura/blob/master/bnc_de_dados_acoes_%3D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
nome_da_acao = input("empresa")
n1 = int(input("valor unitario pago"))
n2 = int(input("quantia"))
s= n1 * n2
print("custo total",format(s))

empresas
valor unitario pago3
quantia4
custo total 12